/* ESTILOS GENERALES */
*{
    font-family: 'Roboto', sans-serif;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 4em;
    color: white;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
h2 span {
    padding-left: 1em;
}
#tiempoSpan{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3em;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}
body{
    background: linear-gradient(black, blue);
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container {
    background: #090661;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 39em;
    height: 39em;
    margin-top: 1em;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 15em;
    margin: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    cursor: pointer;   
}
button{
    position: absolute; 
    width: 7em;
    height: 7em;
    border-radius: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    z-index: 2;  
}
/* EFECTO DE RESALTADO DE LOS BOTONES  */
.click{
    filter: brightness(200%);
    box-shadow: 0 0 0 3px white;
}

/* COLORES DE LOS BOTONES */
#rojo{
    background-color: #f05945;
}
#amarillo{
    background-color: #FFDF64;
}
#azul{
    background-color: #08B2E3;
}
#verde{
    background-color: #57A773;
}

#contactanos {
    display: flex;
    position: absolute;
    width: 13em;
    height: 6em;
    z-index: 2; /* Asegura que la imagen esté por encima de todo */
  }

/* MODAL JUGADOR */
.modalNombreJugador{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    position: fixed;
    width: 30em;
    height: 10em;
    padding: 2em;
    color: white;
    background: linear-gradient(rgb(0, 0, 0), blue);
    border: 2px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    z-index: 10;
}
#labelNombre {
    margin-bottom: 1em;
    font-size: 2em;
}  

/* MODAL JUEGO TERMINADO */
.modalJuegoTerminado{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    position: fixed;
    width: 30em;
    height: 10em;
    padding: 2em;
    color: white;
    background: linear-gradient(rgb(0, 0, 0), blue);
    border: 2px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    z-index: 10;
}

#labelJuegoTerminado{
    margin-bottom: 10px;
    font-size: 3em;
}
#continuar{
    width: 10em;
    height: 3em;
}

/* MODAL SIGUIENTE NIVEL */
.modalSiguienteNivel{
    display: flex;
    justify-content: space-around;
    align-items:center;
    position: fixed;
    width: 30em;
    height: 10em;
    padding: 2em;
    color: white;
    background: linear-gradient(rgb(0, 0, 0), blue);
    border: 2px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    z-index: 10;
}

#pSiguienteNivel{
    font-size: 2em;
    font-weight: bold;
    color: rgb(0, 255, 34);
}

/* FONDO DESENFOCADO */
.fondoDesenfocado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5; 
}


/* DISPLAY NONE Y DISPLAY FLEX MODIFICADORES */
.displayNone{
    display: None;
}
.displayFlex{
    display: flex;
}
.resaltarEnRojo{
    font-weight: bold;
    color: #ff1e00;
}