/* ESTILOS GENERALES */
*{
    font-family: 'Roboto', sans-serif;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 4vw;
    color: white;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    color: white;
}
h2 span {
    padding-left: 1vw;
}
.btn{
    display: flex;
    justify-content: center;
}
#tiempoSpan{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3vw;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}
body{
    background: linear-gradient(black, blue);
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container {
    background: #090661;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 30vw;
    height: 30vw;
    margin-top: 1vw;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
    height: 11vw;
    margin: 1vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    cursor: pointer;   
}
button{
    position: absolute; 
    width: 6vw;
    height: 6vw;
    font-size: 1vw;
    border-radius: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    z-index: 2;  
}
/* COLORES DE LOS BOTONES */
#rojo{
    background-color: #f05945;
}
#amarillo{
    background-color: #FFDF64;
}
#azul{
    background-color: #08B2E3;
}
#verde{
    background-color: #57A773;
}
